<div class="row">
  <div class="col-md-12">
    <%= render_aspace_partial :partial => "shared/flash_messages" %>
    <div class="col-md-4">
      <h3><%= I18n.t "shelve_it.heading", 'Container Location Shelving Assignment' %></h3>
      <form action="<%= AppConfig[:frontend_proxy_prefix] %>plugins/shelve_it/update"
            id="shelve_it"
            method="post"
            style="max-width: 80%; margin-bottom: 2em;">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group">
          <label for="container_barcode">Container barcode</label>
          <input  type="text"
                  class="form-control"
                  id="container_barcode"
                  name="container_barcode"
                  placeholder="Enter container barcode"
                  required
                  autofocus>
        </div>
        <div class="form-group">
          <label for="location_barcode">Location barcode</label>
          <input  type="text"
                  class="form-control"
                  id="location_barcode"
                  name="location_barcode"
                  placeholder="Enter location barcode"
                  <% if params['location_barcode'] && params['persist_location'] %>value="<%= params['location_barcode'] %>"<% end %>
                  required>
          <small class="form-text text-muted">The container will be assigned to the location with this barcode.</small>
        </div>
        <div class="form-group">
          <label for="persist_location">Persist location?</label>
          <input  name="persist_location"
                  id="persist_location"
                  type="checkbox"
                  <% if params['persist_location'] %>checked<% end %>>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-8">
      <h3><%= I18n.t "shelve_it.heading", 'Recent Shelving Assignments' %></h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Container</th>
            <th scope="col">Location</th>
            <th scope="col">Updated</th>
            <th scope="col">By</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% @shelving_assignments.each do |assigned| %>
            <tr>
              <td><a href="<%= container_uri(assigned["top_container_id"]) %>"><%= assigned["top_container_barcode"] %></a></td>
              <td><a href="<%= location_uri(assigned["location_id"]) %>"><%= assigned["location_title"] %></a></td>
              <td><%= assigned["updated_at"] %></td>
              <td><%= assigned["updated_by"] %></td>
              <td><%= assigned["status"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>